<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blog Site</title>

  {{! external CSS files }}
  {{!
  <link href="../../public/css/jass.css" rel="stylesheet" /> }}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link href="/css/style.css" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
</head>

<body>
  {{! Header -> page title, nav-bar }}
  <header>

    {{!-- navigation bar --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-primary-dark">
      <a class="navbar-brand title text-white py-5 px-4" style="font-size: 4rem; font-family: 'Libre Bodoni';">Blog
        Site</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav navbar-fixed-top">
          {{!-- home link --}}
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
          </li>

          {{!-- dashboard link --}}
          <li class="nav-item">
            <a class="nav-link text-white" href="/dashboard">Dashboard</a>
          </li>

          {{!-- logout link (only displayed if currently logged in) --}}
          {{#if logged_in}}

          <li class="nav-item">
            <a class="nav-link text-white" id="logout" href="/">Logout</a>
          </li>

          {{!-- login link (only displayed if currently logged out) --}}
          {{else}}
          <li class="nav-item">
            <a class="nav-link text-white" href="/login">Login</a>
          </li>

          {{/if}}

        </ul>
      </div>
    </nav>

  </header>
  {{! page body literal }}
  <main>
    {{{body}}}
  </main>

  {{! if logged in, load logout script }}
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>