<div class="container p-0 card d-flex text-white mb-3 mt-2 col-lg-7"
  style="border-radius: 20px 20px 10px 10px; border: none">
  <div class="text-center card-header bg-primary pt-3 pb-auto" style="border-radius: 20px 20px 0 0">
  </div>
  <div class="card-body text-dark pl-5">
    <form class="post-link">
      <h5 style="text-decoration:underline; font-weight: 600" class="card-title"><a href="/posts/{{post.id}}"
          value="{{post.id}}" id="post-id"></a></h5>
    </form>
    <p class="card-text text-truncate"></p>
  </div>
  <div style="font-style: oblique; color: #919191; border-radius: 0 0 10px 10px"
    class="card-footer bg-light text-center"></div>
</div>