{{!-- login form -> displyed as a card --}}
<section class="vh-100" style="background-color: #e7e7e7;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center" style="height: 85%;">
      <div class="col-xl-9">

        <div class="card shadow-lg mb-5" style="border-radius: 20px 20px 15px 15px; border: none">
          <div class="card-header bg-info text-white mb-4" style="border-radius: 20px 20px 0 0; border: none">
            <h1 class="py-2 px-3">Create an Account!</h1>
          </div>

          <form id="signup-form">
            <div class="card-body">

              {{!-- username field --}}
              <div class="row align-items-center pt-4 ml-5">
                <div class="col-md-2 ps-5">
                  <h6 class="mb-0 pl-3">Username</h6>
                </div>
                <div class="col-md-8 pe-5">
                  <input type="text" class="form-control form-control-lg" id="username-signup" />
                </div>
              </div>

              <hr class="mx-n3">

              {{!-- password field --}}
              <div class="row align-items-center py-3 ml-5">
                <div class="col-md-2 ps-5">
                  <h6 class="mb-0 pl-3">Password</h6>
                </div>
                <div class="col-md-8 pe-5 mr-1">
                  <input type="password" class="form-control form-control-lg" id="password-signup" />
                </div>
              </div>

              <hr class="mx-n3">

              {{!-- submit field --}}
              <div class="row container">
                <div class="px-3 py-4 col-6">
                  <button type="submit" id="b" class="btn btn-info btn-lg w-100 ml-3">Sign up!</button>
                </div>
                <div class="px-3 py-4 col-6 text-center">
                  <button href="signup" type="submit" class="btn text-info btn-white btn-lg w-100 ml-2"
                    id="login-redirect"><a href="/login">Already have
                      an
                      account?</a>
                  </button>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="./js/signup.js"></script>