body {
  background-color: #e9e9e9;
  font-family: 'Delius', cursive;
}

nav {
  padding-left: 1rem;
}

main {
  position: relative !important;
}

button#signup-redirect {
  color: rgb(0, 0, 0) !important;
  font-weight: 900;
}

button#submit-comment {
  justify-content: center;
}

a#post-id {
  color: white !important;
}

a.nav-link:hover {
  color: #fced1e !important;
  transition: ease-in-out 0.2s;
}

a.nav-link {
  margin-left: 2rem;
  margin-right: 1.2rem;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

input,
select,
textarea,
button {
  border: 1px solid #e4e4e4 !important;
  border-radius: 5px 5px;
}

.btn-circle {
  background-color: #6ca5da !important;
  width: 4rem;
  height: 4rem;
  padding: 0px 0px;
  border-radius: 50px;
  font-size: 8px;
  text-align: center;
}

.btn-circle:hover {
  background-color: #6090c7 !important;
  transition: 0.2s ease-in-out;
}

.btn-white:hover {
  font-size: 1.27rem !important;
  transition: 0.5s ease-in-out !important;
  color: #bfbfdb !important;
  text-decoration: none !important;
}

.bg-primary-dark {
  background-color: #000000;
}

.navbar {
  height: 12% !important;
  color: white !important;
}