body {
  background-color: #e9e9e9;
  font-family: 'Bree Serif', serif;
}

nav {
  padding-left: 1rem;
}

main {
  position: relative !important;
}

a {
  color: black;
}

.btn-white:hover {
  font-size: 1.27rem !important;
  transition: 0.5s ease-in-out !important;
  color: #bfbfdb !important;
  text-decoration: none !important;
}

.bg-primary-dark {
  background-color: #000000;
}

.navbar {
  height: 12% !important;
  color: white !important;
}